.sideprofile {
  width: 20%;
  height: 25%;
  margin-top: 1rem;
  background-color: white;
  color: black;
  font-size: 0.7rem;
}
.userinfo {
  display: flex;
  padding: 10px;
  background-color: #003b2e;
  color: white;
}
.profilepic {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  border-radius: 50%;
}
.usernames {
  margin-left: 1rem;
  text-align: left;
}
.userdetails {
  padding: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: left;
}
.line {
  width: 50%;
  margin: auto;
  border-bottom: 1px solid;
  border-color: grey;
}
.socials {
  padding: 5%;
  background-color: white;
  opacity: 95%;
}
.picon {
  margin-bottom: 60px;
}
.row {
  padding: 10px 5px;
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.biocontainer {
  padding: 5px 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bio {
  margin-top: 1rem;
  font-size: 0.8rem;
  text-align: center;
  font-weight: normal;
}
.h1Style {
  font-size: 1rem;
  font-weight: bold;
}
.h2Style {
  font-size: 0.8rem;
}
.h3Style {
  font-size: 0.9rem;
  font-weight: bold;
  margin-left: 70px;
}
