.nfollow{
    width: 15rem;
    height: 20rem;
    margin-top: 3rem;
    background-color: white;
    color:black;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid;
    border-color: #389668;
}
.profilepic{
    height: 2rem;
    width: 2rem;
    margin-top: 1rem;
    object-fit: cover;
    border-radius: 50%;
  }
