.post{
    width: 100%; 
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 20px; 
    background-color: white;
  }
  .profilepic{
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    border-radius: 50%;
  }
  .userinfo{
    display: flex;
    padding-bottom: 5px;
    color: black;
    justify-content: space-between;
  }
  .usernames{
    margin-left: 1rem;
  }
  .align{
    display:flex;
    flex-direction: row;
  }
  .postinfo{

    padding-top: 0.5rem ;
    padding-bottom: 0.5rem;
  }
  .followb{
    display: flex;
    color: green;
    font-weight: bold;
    justify-content: center;
    align-content: center;

  }
  .postimage{
    /* width: 25rem; */
    width: 100%;
    height: 20rem;
    margin: auto;
    margin-top: 0.5rem;
    object-fit: cover;
    border-radius: 2px;

  }
  .line{
    width: 100%;
    margin-top: 10px;
    border-bottom: 1px solid;
    border-color: grey;
  }
  .comments{
    font-size: 0.7rem;
    color: black;
    margin-top: 1rem;
}