.sideprofile{
    width: 20%; 
    height: 25%; 
    margin-top: 1rem;
    background-color: white;
    color: black;
    font-size: 0.7rem;
  }
  .userinfo{
    display: flex;
    padding: 10px;
    background-color: #389668;
    border-radius: 3px;
    color: white;
  }
  .profilepic{
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    border-radius: 50%;
  }
  .usernames{
    margin-left: 1rem;
    text-align: left;
  }
.userdetails{
  padding: 10px;
  background-color: white;
  font-weight: bold;
}
.line{
  width: 50%;
  margin: auto;
  border-bottom: 1px solid;
  border-color: grey;
}
.socials{
  padding: 5%;
  background-color: white;
  opacity: 95%;
}
.picon{
 margin-bottom: 60px;
}
