.MainDiv {
  width: 90%;
  max-height: 50vh;
  background-color: white;
  overflow: hidden;
}
.Name {
  font-size: 1.3rem;
  text-align: center;
}
.OpportunitiesDiv {
  width: 95%;
  height: 40vh;
  overflow-y: scroll;
}
.VolunteerContainer {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}
.VolunteerTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px;
  color: white;
  background-color: #003b2e;
}
.Add {
  background-color: white;
  border-radius: 50%;
  color: #a9a9a9;
  cursor: pointer;
}
.FlexForInside {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #a9a9a9;
  cursor: pointer;
  padding: 20px;
}
.FlexForInside:hover {
  background-color: #f0f0f0;
}
.CompanyInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.CompanyName {
  font-size: 1.1rem;
  font-weight: bold;
}
.CompanyLocation {
  font-size: 0.8rem;
}
