.Flex{
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
}
.MainFlex {
    margin-left: 5vw;
}
.InnerFlex{
    display: flex;
    flex-direction: row;
}
.Right{
    margin-left: 5%;
}
.RegisterSign{
    font-size: 30px;
    margin-left: 15vw;
}
.Submit{
    background-color: rgb(5,150,105);
    width: 140px;
    height: 50px;
    font-size: 20px;
    border-radius: 13px;
    margin-top: 5vh;
    margin-left: 12.5vw;
    cursor: pointer;
}
label{
    font-size: 20px;
}
.Input{
    height: 40px;
    border-radius: 10px;
    width: 16vw;
    background-color: lightgrey;
}
.passwordsDontMatch{
    text-align: center;
}
.OuterFlex{
    display: flex;
    justify-content: center;
}