.Flex{
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    justify-content: center;
}
.MarginLeft{
    margin-left: 2vw;
}
.Row{
    display: flex;
    flex-direction: row;
}
.RegisterSign{
    font-size: 30px;
    margin-top: -30px;
}
.Submit{
    background-color: rgb(5,150,105);
    width: 140px;
    height: 50px;
    font-size: 20px;
    border-radius: 13px;
    cursor: pointer;
    margin-top: 5vh;
}
label{
    font-size: 20px;
}
.Input{
    height: 40px;
    border-radius: 10px;
    width: 16vw;
    background-color: lightgrey;
}
.passwordsDontMatch{
    text-align: center;
    color: red;
}
.MainFlexx{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
.BackToLoginButton{
    background-color: green;
    width: 80px;
    height: 50px;
    margin-left: 600px;
    margin-top: 20px;
    border-radius: 13px;
}