.MainBox{
    width: 70vw;
    height: 80vh;
    margin-left: 15vw;
    margin-top: 10vh;
    display: flex;
    overflow: hidden;
}
.LoginSide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: white;
}
.RegisterSide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-image: linear-gradient(140deg, rgb(43,200,144),rgb(5,130,105));
}
