.Name{
    font-size: 1.3rem;
    text-align: center;
}
.Opportunities{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}
.CompanyDateLoc{
    display: flex;
    flex-direction: row;
}